@model INT.Service.DAL.Model.Tbl_DetalleMaquinaOnLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Dispositivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_MaquinaOnLine.NombreMaquina)
        </dd>

        <dt>
            Sensor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_SensorMaquinaOnline.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
