@model INT.Service.DAL.Model.Tbl_SincronizacionMaquinaOnLine

@{
    ViewBag.Title = "Eliminar";
}

<h2 class="text-uppercase">Eliminar</h2>

<h3>Desea eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            # Dispositivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroMaquina)
        </dd>

        <dt>
            Servidor Descarga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutaServidorDBDescarga)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
