@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    
    <h1>Hola, @User.Identity.Name!</h1>
    <hr/>
    <br />
        <p class="lead" style="font-size:30px;">TWCOM ONLINE es tú solución para la administración de marcaciones y dispositivos biométrios.</p>
</div>