<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="Scheduler" type="System.Configuration.NameValueSectionHandler" />
    <section name="Dispatcher" type="System.Configuration.NameValueSectionHandler" />
    <section name="Handler" type="System.Configuration.NameValueSectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="IntellisoftEntities" connectionString="metadata=res://*/Model.IntellisoftModel.csdl|res://*/Model.IntellisoftModel.ssdl|res://*/Model.IntellisoftModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=./;initial catalog=INT_BASE;user id=sa;password=Adm1n;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <spring>
    <typeAliases>
      <alias name="DownloadDataRequestType" type="INT.Service.DTO.Requests.DataDownloadRequest, INT.Service.DTO" />
    </typeAliases>
    <context>
      <resource uri="~/Context/Host.xml" />
      <resource uri="~/Context/Scheduler.xml" />
      <resource uri="~/Context/Dispatcher.xml" />
      <resource uri="~/Context/Handler.xml" />
      <resource uri="~/Context/BLL.xml" />
      <resource uri="~/Context/ZKemkeeper.xml" />
    </context>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
    </parsers>
  </spring>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/IntelisoftLog4Net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <Scheduler>
    <add key="CronTriggerMonitor.CronExpressionString" value="0 54 13 * * ?" />
  </Scheduler>
  <Dispatcher>
    <add key="DataDownloadDispatcher.InputQueue.Path" value=".\private$\intelisoft.datadownload" />
  </Dispatcher>
  <Handler>
    <add key="DataDownloadHandler.InputQueue.Path" value=".\private$\intelisoft.datadownload" />
    <add key="DataDownloadHandler.ErrorQueue.Path" value=".\private$\intelisoft.datadownload.error" />
    <add key="DataDownloadHandler.MaxConcurrentListeners" value="5" />
    <add key="DataDownloadHandler.RecoveryTimeSpan" value="00:00:30" />
    <add key="DataDownloadHandler.MaxRetry" value="5" />
  </Handler>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
