@model INT.Service.DAL.Model.CurrentDevice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Desea eliminar este registro?</h3>
<div>
    <h4>CurrentDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToDataBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDataBase)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
