@model INT.Service.DAL.Model.CurrentDevice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToDataBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDataBase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Volver", "Index")
</p>
